@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom Tailwind variables */
:root {
  --color-primary: #FF0000;
  --color-secondary: #FFC107;
  --color-text: #FFFFFF;
  --color-background: #000000;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-background {
  color: var(--color-background);
}
